.footer-menu {
	margin: 40px 0;

	li {
		a {

			font-size: 1em;
		}
	}
}

.footer-social {
	float:right;
	text-align:right;
	margin: 35px 0;
	a {
		margin-left: 20px;
		color:$white;
		text-decoration:none;
		text-align: center;
		&:hover {
			color:$lime;
		}
	}
}
