/* Colors */
/* roboto-condensed-300 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/roboto-condensed-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url("../assets/fonts/roboto-condensed-v14-latin-300.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-condensed-v14-latin-300.woff2") format("woff2"), url("../assets/fonts/roboto-condensed-v14-latin-300.woff") format("woff"), url("../assets/fonts/roboto-condensed-v14-latin-300.ttf") format("truetype"), url("../assets/fonts/roboto-condensed-v14-latin-300.svg#RobotoCondensed") format("svg");
  /* Legacy iOS */ }

/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/roboto-condensed-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("../assets/fonts/roboto-condensed-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-condensed-v14-latin-700.woff2") format("woff2"), url("../assets/fonts/roboto-condensed-v14-latin-700.woff") format("woff"), url("../assets/fonts/roboto-condensed-v14-latin-700.ttf") format("truetype"), url("../assets/fonts/roboto-condensed-v14-latin-700.svg#RobotoCondensed") format("svg");
  /* Legacy iOS */ }

/* Arial Black */
@font-face {
  font-family: 'Arial Black';
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/Arial-Black.eot");
  src: url("../assets/fonts/Arial-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Arial-Black.woff2") format("woff2"), url("../assets/fonts/Arial-Black.woff") format("woff"), url("../assets/fonts/Arial-Black.ttf") format("truetype"), url("../assets/fonts/Arial-Black.svg#Arial-Black") format("svg"); }

/* Arial Narrow */
@font-face {
  font-family: 'Arial Narrow';
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/ArialNarrow.eot");
  src: url("../assets/fonts/rialNarrow.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/ArialNarrow.woff2") format("woff2"), url("../assets/fonts/ArialNarrow.woff") format("woff"), url("../assets/fonts/ArialNarrow.ttf") format("truetype"), url("../assets/fonts/ArialNarrow.svg#ArialNarrow") format("svg"); }

/* Alwyn */
@font-face {
  font-family: 'Alwyn';
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/AlwynLight.eot");
  src: url("../assets/fonts/AlwynLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AlwynLight.woff2") format("woff2"), url("../assets/fonts/AlwynLight.woff") format("woff"), url("../assets/fonts/AlwynLight.ttf") format("truetype"), url("../assets/fonts/AlwynLight.svg#AlwynLight") format("svg"); }

.bg-lime {
  background-color: #bbe902; }

.bg-grey {
  background-color: #f0f0f0; }

.bg-brown {
  background-color: #4e442e; }

.bg-dgrey {
  background-color: #4a4141; }

.titulo-section {
  font-family: 'Arial Black', 'Arial', sans-serif;
  font-size: 3.5em;
  line-height: 0.9em;
  color: #4e442e;
  margin-top: 50px; }

.menu-icon {
  float: left;
  width: 50px; }

.menu-abrir {
  background: none;
  border: 0;
  font-size: 1.6em;
  outline: 0;
  text-indent: -999em;
  border-bottom: 7px solid #f4f4f4;
  border-top: 20px double #f4f4f4;
  height: 33px;
  margin: 40px 20px;
  width: 40px; }
  .menu-abrir:hover {
    border-bottom: 7px solid #bbe902;
    border-top: 20px double #bbe902; }

.header-logo {
  margin-left: 10px;
  margin-top: 40px; }

.header-menu, .footer-menu {
  margin-top: 45px; }
  .header-menu li, .footer-menu li {
    display: inline-block;
    margin-right: 20px; }
    .header-menu li a, .footer-menu li a {
      display: block;
      color: #f4f4f4;
      text-decoration: none;
      font-family: 'Arial', sans-serif;
      font-size: 1.5em;
      text-align: center; }
      .header-menu li a:hover, .footer-menu li a:hover {
        color: #bbe902; }
    .header-menu li:nth-last-child(1), .footer-menu li:nth-last-child(1) {
      margin-right: 0; }

.header-idioma {
  position: absolute;
  top: 0;
  right: 55px;
  width: 95px;
  height: 55px;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-size: 1.5em;
  padding: 10px 20px;
  color: #f4f4f4;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top; }
  .header-idioma p {
    margin: 0; }
  .header-idioma a {
    color: #f4f4f4;
    text-decoration: none;
    text-align: center; }
    .header-idioma a:hover {
      font-weight: 700; }

.slider-card {
  display: none; }

.bg-slider {
  background-size: cover;
  background-position: left center;
  height: 100vh; }

.bg-slider {
  background-image: url("../assets/img/slider1.jpg"), url("../assets/img/slider2.jpg"), url("../assets/img/slider3.jpg"); }

.slider-content {
  float: right;
  color: #f4f4f4;
  margin-top: 30%;
  margin-right: 8%; }
  .slider-content h2 {
    width: 80%;
    font-family: 'Arial Black', 'Arial', sans-serif;
    font-size: 6em;
    line-height: 0.75em; }
  .slider-content p {
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
    padding-top: 30px; }

.slider-selector {
  float: right;
  margin-top: 3%;
  margin-right: 8%; }

.slider-active {
  left: 0;
  display: inline-block; }

.slider-offset {
  left: -999%;
  display: none;
  -webkit-transition: left 1s ease-out;
  -o-transition: left 1s ease-out;
  transition: left 1s ease-out; }

.btn-selector {
  float: left;
  border: none;
  color: rgba(244, 244, 244, 0.5);
  background-color: transparent;
  width: 15%;
  outline: none; }
  .btn-selector:hover {
    color: #f4f4f4; }

.bullet-wrap {
  float: left;
  width: 175px;
  height: 100%; }

.bullet {
  float: left;
  width: 12px;
  height: 12px;
  margin: 30px 22px;
  background-color: rgba(244, 244, 244, 0.5);
  border-radius: 50%; }

.bullet-active {
  background-color: #f4f4f4; }

.arrow {
  position: absolute;
  margin: 0 45%;
  margin-top: 30px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #bbe902; }
  .arrow:hover {
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px); }

.btn-arrow {
  text-decoration: none; }

.sobre-card {
  margin-top: 120px;
  margin-bottom: 80px; }
  .sobre-card .card-icon {
    color: #f4f4f4;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto; }
  .sobre-card .card-desc {
    width: 95%;
    margin-top: 35px; }
    .sobre-card .card-desc p {
      font-family: 'Times New Roman', serif;
      font-size: 1.2em; }

.proj-card {
  margin-top: 50px;
  margin-bottom: 80px;
  height: 500px;
  text-align: center; }
  .proj-card .titulo-proj {
    color: #f4f4f4;
    font-family: 'Arial Narrow', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 40px; }
  .proj-card .btn-proj {
    border: none;
    background-color: #bbe902;
    color: #f4f4f4;
    outline: none;
    padding: 10px 20px;
    font-family: 'Alwyn', sans-serif;
    font-size: 1.2em;
    margin-top: 150px; }
    .proj-card .btn-proj:hover {
      -webkit-transform: translateY(1px);
          -ms-transform: translateY(1px);
              transform: translateY(1px);
      background-color: #92b602; }
  .proj-card .card-desc {
    color: #f4f4f4;
    width: 46%;
    margin: 0 auto;
    font-family: 'Arial Narrow', sans-serif;
    font-size: 1em;
    margin-top: 130px; }

.hover-inativo {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

#proj1, #proj2, #proj3 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top center; }

#proj1 {
  background-image: url("../assets/img/projeto1.jpg"); }

#proj2 {
  background-image: url("../assets/img/projeto2.jpg"); }

#proj3 {
  background-image: url("../assets/img/projeto3.jpg"); }

.input-wrap input, .input-wrap textarea {
  padding: 20px 40px;
  margin: 20px 0;
  width: 100%;
  background: none;
  border: 3px solid #f4f4f4;
  outline: none; }

#contato .titulo-section {
  line-height: 1em;
  color: #f4f4f4; }

#contato #cont-form {
  margin-bottom: 80px; }

.input-wrap {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  color: #f4f4f4; }
  .input-wrap textarea {
    resize: none;
    margin-bottom: 5px; }
  .input-wrap .btn-cont {
    float: right;
    padding: 10px 25px;
    background: none;
    border: 3px solid #f4f4f4;
    outline: none;
    font-family: 'Arial', sans-serif;
    font-size: 1.5em; }
    .input-wrap .btn-cont:hover {
      -webkit-transform: translateY(1px);
          -ms-transform: translateY(1px);
              transform: translateY(1px); }

.footer-menu {
  margin: 40px 0; }
  .footer-menu li a {
    font-size: 1em; }

.footer-social {
  float: right;
  text-align: right;
  margin: 35px 0; }
  .footer-social a {
    margin-left: 20px;
    color: #f4f4f4;
    text-decoration: none;
    text-align: center; }
    .footer-social a:hover {
      color: #bbe902; }

@media only screen and (max-width: 1200px) {
  .proj-card .titulo-proj {
    margin-top: 20px; }
  .proj-card .btn-proj {
    margin-top: 120px; }
  .proj-card .card-desc {
    margin-top: 100px; } }

@media not all and (max-width: 870px) {
  .menu-abrir {
    display: none; } }

@media only screen and (max-width: 870px) {
  .header-logo {
    margin-left: 70px; }
  .header-menu {
    display: inline-block;
    background-color: #4a4141;
    padding: 1em;
    margin: 0;
    height: 100%;
    width: 90%;
    max-width: 180px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -999%;
    -webkit-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out; }
    .header-menu li {
      width: 100%;
      margin: 20px 0; }
      .header-menu li a {
        font-size: 1.2em; }
  .menu-ativo .header-menu {
    left: 0; }
  .menu-ativo:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4); }
  .slider-content {
    margin-top: 20%; }
  .bullet-wrap {
    float: none;
    width: 100%; }
  .slider-selector {
    width: 40%; }
  .proj-card {
    margin-top: 0px; }
    .proj-card .titulo-proj {
      padding-top: 20px; } }

@media only screen and (max-width: 800px) {
  .footer-social {
    float: none;
    text-align: center; } }

@media only screen and (max-width: 700px) {
  .slider-selector {
    width: 65%; } }

@media only screen and (max-width: 630px) {
  .slider-content {
    float: none;
    margin-top: 15%; }
    .slider-content h2 {
      width: 100%;
      font-size: 3em;
      line-height: 1em;
      text-align: center; }
    .slider-content p {
      text-align: center;
      padding-top: 40px; }
  .slider-selector {
    float: none;
    width: 100%;
    margin-left: 15px; }
  .arrow {
    margin: 0 40%;
    margin-top: 30px; }
  .titulo-section {
    font-size: 3em;
    text-align: center; }
  .sobre-card {
    margin-top: 40px; }
    .sobre-card .card-desc {
      text-align: center; }
  .hover-inativo {
    opacity: 1; }
  #contato .titulo-section {
    width: 100%; }
  .input-wrap {
    width: 90%; }
    .input-wrap .btn-cont {
      margin-bottom: 100px; }
  .footer-menu {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%; }
    .footer-menu li {
      width: 90%;
      padding: 20px 0; }
      .footer-menu li a {
        font-size: 1.6em; }
  .footer-social {
    width: 90%; } }
