/* Colors */
$lime: #bbe902;
$white: #f4f4f4;
$grey: #f0f0f0;
$brown: #4e442e;
$dgrey: #4a4141;

/* roboto-condensed-300 - latin */
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	src: url('../assets/fonts/roboto-condensed-v14-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
	url('../assets/fonts/roboto-condensed-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/roboto-condensed-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../assets/fonts/roboto-condensed-v14-latin-300.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/roboto-condensed-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/roboto-condensed-v14-latin-300.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-700 - latin */
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/roboto-condensed-v14-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
	url('../assets/fonts/roboto-condensed-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/roboto-condensed-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../assets/fonts/roboto-condensed-v14-latin-700.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/roboto-condensed-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/roboto-condensed-v14-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* Arial Black */
@font-face {
	font-family: 'Arial Black';
	font-weight: 900;
	font-style: normal;
	src: url('../assets/fonts/Arial-Black.eot');
	src: url('../assets/fonts/Arial-Black.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/Arial-Black.woff2') format('woff2'),
	url('../assets/fonts/Arial-Black.woff') format('woff'),
	url('../assets/fonts/Arial-Black.ttf') format('truetype'),
	url('../assets/fonts/Arial-Black.svg#Arial-Black') format('svg');
}

/* Arial Narrow */
@font-face {
	font-family: 'Arial Narrow';
	font-weight: normal;
	font-style: normal;
	src: url('../assets/fonts/ArialNarrow.eot');
	src: url('../assets/fonts/rialNarrow.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/ArialNarrow.woff2') format('woff2'),
	url('../assets/fonts/ArialNarrow.woff') format('woff'),
	url('../assets/fonts/ArialNarrow.ttf') format('truetype'),
	url('../assets/fonts/ArialNarrow.svg#ArialNarrow') format('svg');
}

/* Alwyn */
@font-face {
	font-family: 'Alwyn';
	font-weight: 300;
	font-style: normal;
	src: url('../assets/fonts/AlwynLight.eot');
	src: url('../assets/fonts/AlwynLight.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/AlwynLight.woff2') format('woff2'),
	url('../assets/fonts/AlwynLight.woff') format('woff'),
	url('../assets/fonts/AlwynLight.ttf') format('truetype'),
	url('../assets/fonts/AlwynLight.svg#AlwynLight') format('svg');
}

.clearfix {
	overflow:auto;
	zoom:1;
}

.bg-lime {
	background-color: $lime;
}

.bg-grey {
	background-color: $grey;
}

.bg-brown {
	background-color: $brown;
}

.bg-dgrey {
	background-color:$dgrey;
}

.header-logo {
	margin-left: 10px;
	margin-top: 40px;
}

.header-menu, .footer-menu {
	margin-top: 45px;
	li {
		display:inline-block;
		margin-right: 20px;
		a {
			display: block;
			color: $white;
			text-decoration:none;
			font-family: 'Arial', sans-serif;
			font-size: 1.5em;
			text-align:center;
			&:hover {
				color: $lime;
			}
		}
		&:nth-last-child(1) {
			margin-right:0;
		}

	}
}

.header-idioma {
	position:absolute;
	right:55px;
	width: 95px;
	height: 55px;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-size: 1.5em;
	padding:10px 20px;
	color:$white;
	transform: rotate(-90deg);
	transform-origin: right top;
	p {
		margin:0;
	}
	a {
		color:$white;
		text-decoration:none;
		text-align: center;
		&:hover {
			font-weight: 700;
		}
	}
}


.slider-card {
	display:none;
}

%slider {
	background-size: cover;
	background-position: left center;
	height: 100vh;
}

.bg-slider {
	@extend %slider;
	background-image: url('../assets/img/slider1.jpg'),url('../assets/img/slider2.jpg'),url('../assets/img/slider3.jpg');
}

.slider-content {
	float:right;
	color:$white;
	margin-top:30%;
	margin-right:8%;
	h2 {
		width:80%;
		font-family: 'Arial Black', 'Arial', sans-serif;
		font-size: 6em;
		line-height: 0.75em;
	}
	p {
		font-family: 'Times New Roman', serif;
		font-size: 1.2em;
		padding-top: 30px;
	}
}

.slider-selector {
	float:right;
	margin-top:3%;
	margin-right:8%;
}

.slider-active {
	left:0;
	display:inline-block;
}

.slider-offset {
	left:-999%;
	display:none;
	transition: left 1s ease-out;
}

.btn-selector {
	float:left;
	border:none;
	color: rgba($white, .5);
	background-color: rgba(0,0,0,0);
	width:15%;
	outline:none;
	&:hover {
		color: $white;
	}
}

.bullet-wrap {
	float:left;
	width: 175px;
	height:100%;
}

.bullet {
	float:left;
	width:12px;
	height:12px;
	margin: 30px 22px;
	background-color: rgba($white, .5);
	border-radius:50%;
}

.bullet-active {
	background-color: $white;
}

.arrow {
	position:absolute;
	margin: 0 45%;
	margin-top:30px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid $lime;
	&:hover {
		transform: translateY(1px);
	}
}

.btn-arrow {
	text-decoration:none;
}

.titulo-section {
	font-family: 'Arial Black', 'Arial', sans-serif;
	font-size: 3.5em;
	line-height: 0.9em;
	color: $brown;
	margin-top:50px;
}

.sobre-card {
	margin-top: 120px;
	margin-bottom: 80px;

	.card-icon {
		color:$white;
		width:80px;
		height:80px;
		border-radius:50%;
		text-align:center;
		padding-top:20px;
		margin: 0 auto;
	}

	.card-desc	{
		width:95%;
		margin-top: 35px;
		p {
			font-family: 'Times New Roman', serif;
			font-size: 1.2em;
		}

	}
}

.proj-card {
	margin-top:50px;
	margin-bottom: 80px;
	height:500px;
	text-align: center;

	.titulo-proj {
		color: $white;
		font-family: 'Arial Narrow', sans-serif;
		font-weight:700;
		font-size: 1.5em;
		margin-top: 40px;
	}

	.btn-proj {
		border:none;
		background-color:$lime;
		color:$white;
		outline:none;
		padding: 10px 20px;
		font-family: 'Alwyn', sans-serif;
		font-size: 1.2em;
		margin-top:150px;

		&:hover {
			transform: translateY(1px);
			background-color: darken($lime, 10%);
		}
	}

	.card-desc {
		color: $white;
		width: 46%;
		margin: 0 auto;
		font-family: 'Arial Narrow', sans-serif;
		font-size: 1em;
		margin-top:130px;
	}
}

.hover-inativo {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

%proj {
	background-size: auto;
	background-repeat: no-repeat;
	background-position: top center;
}

#proj1 {
	@extend %proj;
	background-image: url("../assets/img/projeto1.jpg");
}

#proj2 {
	@extend %proj;
	background-image: url("../assets/img/projeto2.jpg");
}

#proj3 {
	background-size: auto;
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url("../assets/img/projeto3.jpg");
}


%fields {
	padding: 20px 40px;
	margin: 20px 0;
	width:100%;
	background: none;
	border: 3px solid $white;
	outline: none;
}


#contato {

	.titulo-section {
		line-height: 1em;
		color: $white;
	}

	form {
		margin-bottom: 80px;
	}
}

.cont-form {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	color: $white;

	input {
		@extend %fields;
	}

	textarea {
		@extend %fields;
		resize: none;
		margin-bottom: 5px;
	}

	.btn-cont {
		float:right;
		padding: 10px 25px;
		background: none;
		border: 3px solid $white;
		outline: none;
		font-family: 'Arial', sans-serif;
		font-size: 1.5em;
	}

}

.footer-menu {
	margin: 40px 0;

	li {
		a {

			font-size: 1em;
		}
	}
}

.footer-social {
	float:right;
	text-align:right;
	margin: 35px 0;
	a {
		margin-left: 20px;
		color:$white;
		text-decoration:none;
		text-align: center;
		&:hover {
			color:$lime;
		}
	}
}




